.accordion-container {
  width: 100%;
  background-color: transparents;
  text-shadow: none;
  text-align: left;
  box-shadow: 0 0 10px;
}

.accordion-btn {
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
  padding: 1em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .accordion-title {
    color: white;
    font-size: 2em;
  }

  @media (max-width: 768px) {
    padding: 0.5em;
    font-size: 1.5em;
  }
}

.accordion-icon {
  height: 40px;
  // transform: translateX(-100%);
  transition: 0.3s ease-in;
  transform-origin: center;
  margin-right: 2em;

  &.open {
    transform: rotate(180deg);
  }

  @media (max-width: 768px) {
    margin-right: 1em;
  }
}

.accordion-content {
  color: white;
  font-size: 1.2em;
  line-height: 1.3em;
  max-height: 0;
  text-align: left;
  //   transition: max-height 0.5s;
  overflow: hidden;
  &.open {
    max-height: 1000px;
    max-width: 100%;
    padding: 1em;
    padding-top: 0;
    background-color: rgba($color: black, $alpha: 0.2);
    backdrop-filter: blur(2px);
  }
}
