@font-face {
  font-family: Alterna;
  src: url(/assets/default.ttf);
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  scroll-behavior: smooth;
  color: white;
  width: 100vw;
  font-family: Alterna, sans-serif;
}
