@font-face {
  font-family: Alterna;
  src: url(/assets/default.ttf);
}

$text-color: aliceblue;

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  scroll-behavior: smooth;
  color: $text-color;
  // text-shadow: 0 0 5px;
  width: 100vw;
  // overflow-x: hidden;
  font-family: Alterna, sans-serif;
}

// .layout-container {
//   min-height: 100vh;
// }

// .page-content {
//   // flex-grow: 1;
//   padding-inline: 10%;
// }
